{% extends "layout.html" %}

{% block body %}

<div class="row">

    <!-- Post Content Column -->
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
    

      <!-- Title -->
      <h3 class="mt-4" style="color:royalblue">{{article.title}}</h3>
      <hr color="royalblue">

      <!-- Author -->
      <p>
        <strong>Yazar : </strong>
        {{article.author.username}}
      </p>

      <hr>

      <!-- Date/Time -->
      <hr>
      <p><strong>Oluşturma Tarihi : </strong>
      {{article.created_date}}</p>

      <hr>

      <!-- Preview Image -->
     
      {% if article.article_image %}
      <strong>Makale Fotoğrafı : </strong>
      <p>
      <br>
      <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
      </p>
      

      {% endif %}
      

      <hr>

      <!-- Post Content -->
      <p><strong>Makale Metni : </strong>
       
      {{article.content|safe}}

      </p>
      <hr color="royalblue" >
      <br>
      {% if comments %}
      <h5 style="color:orangered">Yorumlar :</h5>

      {% for comment in comments %}
      
      <br>
      <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
          </div>
        </div>
      
      {% endfor %}
      <!-- Single Comment -->
      
      
      
      {% else %}
      <strong><div class="alert alert-danger">
        Bu makaleye herhangi bir yorum eklenmemiştir !
      </div></strong>
      <strong><div class="alert alert-info">
          İlk yorum yapan siz olun !
      </div></strong>


      {% endif %}








      <div class="card my-4">
        <h5 class="card-header" style="color:orangered">Yorum Ekle:</h5>
        <br>
        <div class="card-body">
          <form method="post" action="{% url 'article:comment' article.id %}">
            {% csrf_token %}
            
  <div class="form-group">
    <strong><label for="formGroupExampleInput">&nbsp;İsim :</label></strong>
    <input name="comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi giriniz ...">
    
  </div>
            <div class="form-group">
            <strong><label for="formGroupExampleInput">&nbsp;Yorum :</label></strong>
              <textarea name="comment_content" class="form-control" rows="3" placeholder="Yorumunuzu giriniz ..."></textarea>
            </div>
            <button type="submit" class="btn btn-success" style="float:right;">Ekle</button>
          </form>
        </div>
      </div>  
      
          
      

    </div>

    

  </div>
  </div>

 <!-- Comments Form -->


{% endblock body %}



